@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1> Contact Me</h1>

<table class="table table-sm">
    <tr>
        <td>Phone</td>
        <td>555-123-4567</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>me@muwebsite.com</td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td>facebook.com/mywebsite</td>

    </tr>
</table>

            
   